<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.crocodic.previewimage">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true">

        <activity
                android:name=".PreviewImage"
                android:screenOrientation="unspecified"
                android:theme="@style/TransApp" />

    </application>

</manifest>
